<?xml version="1.0" encoding="utf-8"?>
<settings>
  <!-- Master volume is moved to the config file, this line does absolutely nothing -->
  <volume>0.4</volume>
  <!-- Should music loop? If not true, then another song is selected from scene matches -->
  <!-- the global loop function now acts like an initializer, do not delete it though it may still break the mod -->
  <loop>false</loop>
  <!-- To have this plugin scan a different directory for music files,
        Uncomment <music-path> below (remove <!- - and - -> from the line below) -->
  <!-- <music-path>C:\Users\YourName\Music\SomeMusicFolder</music-path> -->
  <!--
        Here is where you define what songs are used in which scenes and if they are
        "boss" music (played during teleporter events or not).

        Here is an example of a file that will play on the title screen and other main menus:

        <song
            name="01 Risk of Rain.mp3"
            scenes="title,lobby,logbook,crystalworld,eclipseworld"
            boss="false"
            volume="1"
            loop="false" // or true depending on your use case
            afterboss="true" // can only be used for mithrix currently, if you would like to have afterboss tracks for any boss, you will have to edit the source code of the mod
        />

        "name" must match the file name exactly. Supported extensions are ".mp3" and ".wav" (case sensitive).

        "scenes" are the comma separated scene IDs (or levels) that will have a chance to play this music.
        See README.md for more info on scene IDs.

        "boss" is if this music plays during a teleporter event or not (or during the final boss).
        It's important to understand that when boss is true, the music ONLY plays during teleporter events
        and when boss is false, the music ONLY plays when *NOT* during a teleporter event.

        If you want music to play regardless of the teleporter charging, you must make two <song> definitions
        with the same data but with one boss="true" and the other boss="false"

        "volume" is a local volume decimal (between 0 and 1) that gets multiplied with the global volume tag.
        
        "loop" is well... a function of course, i mean what else do you expect me to say? loops the song when true and 
        plays silence or moves on to the next track once the current song finishes when false

        You can have multiple <song> definitions with the same or similar data. If a scene matches multiple <song>'s
        then this plugin will choose one randomly. If NO matches are found, then the plugin will choose a random
        sound file it found in the plugin folder.
    -->
<music>
<!-- Cutscene Music -->
        <song
            name="M_01_Intro.mp3"
            scenes="Intro,splash"
            boss="false"
            volume="0.85"
        />
        <song
            name="M_02_Outro.mp3"
            scenes="outro"
            boss="false"
            volume="0.90"
        /> 		
        <song
            name="M_03_Splash.mp3"
            scenes="splash"
            boss="false"
            volume="0.85"
        /> 		
		
<!-- Menus Music -->	
        <song
            name="MM_01_Menu.mp3"
            scenes="title"
            boss="false"
            volume="0.85"
            loop="true"
        />
        <song
            name="MM_02_CharacterSelect.mp3"
            scenes="lobby"
            boss="false"
            volume="0.85"
            loop="true"
        />
        <song
            name="MM_03_Logbook.mp3"
            scenes="logbook"
            boss="false"
            volume="0.85"
            loop="true"
        />
        <song
            name="MM_04_LoadingScreen.mp3"
            scenes="loadingbasic"
            boss="false"
            volume="0.85"
            loop="true"
        />
<!-- Extra Menus -->
        <song
            name="MME_01_Prismatic.mp3"
            scenes="crystalworld"
            boss="false"
            volume="0.85"
        />
        <song
            name="MME_02_Eclipse.mp3"
            scenes="eclipseworld"
            boss="false"
            volume="0.85"
        />
        <song
            name="MME_03_Simulacrum.mp3"
            scenes="infinitetowerworld"
            boss="false"
            volume="0.85"
        />
<!-- Simulacrum Music -->
        <song
            name="S_01_Rallypoint.mp3"
            scenes="itfrozenwall"
            boss="false"
            volume="0.85"
            loop="false"
        />
        <song
            name="S_01_RallypointLoop.mp3"
            scenes="itfrozenwall"
            boss="false"
            volume="0.85"
            loop="true"
        />
        <song
            name="S_02_Aphelian.mp3"
            scenes="itancientloft"
            boss="false"
            volume="0.85"
            loop="false"
        />
        <song
            name="S_02_AphelianLoop.mp3"
            scenes="itancientloft"
            boss="false"
            volume="0.85"
            loop="true"
        />
        <song
            name="S_03_Abyssal.mp3"
            scenes="itdampcave"
            boss="false"
            volume="0.85"
            loop="false"
        />
        <song
            name="S_03_AbyssalLoop.mp3"
            scenes="itdampcave"
            boss="false"
            volume="0.85"
            loop="true"
        />
        <song
            name="S_04_TitanicPlains.mp3"
            scenes="itgolemplains"
            boss="false"
            volume="0.85"
            loop="false"
        />
        <song
            name="S_04_TitanicPlainsLoop.mp3"
            scenes="itgolemplains"
            boss="false"
            volume="0.85"
            loop="true"
        />
        <song
            name="S_05_AbandonedAqueduct.mp3"
            scenes="itgoolake"
            boss="false"
            volume="0.85"
            loop="false"
        />
        <song
            name="S_05_AbandonedAqueductLoop.mp3"
            scenes="itgoolake"
            boss="false"
            volume="0.85"
            loop="true"
        />
        <song
            name="S_06_SkyMeadow.mp3"
            scenes="itskymeadow"
            boss="false"
            volume="0.85"
            loop="false"
        />
        <song
            name="S_06_SkyMeadowLoop.mp3"
            scenes="itskymeadow"
            boss="false"
            volume="0.85"
            loop="true"
        />
        <song
            name="S_07_Commencement.mp3"
            scenes="itmoon"
            boss="false"
            volume="0.70"
            loop="false"
        />
        <song
            name="S_07_CommencementLoop.mp3"
            scenes="itmoon"
            boss="false"
            volume="0.70"
            loop="true"
        />
<!-- Stage 1 Music -->
        <song
            name="S1_01_TitanicPlains.mp3"
            scenes="golemplains,golemplains2"
            boss="false"
            volume="0.85" 
            loop="false"
        />	
		<song
            name="S1_02_TitanicPlainsLoop.mp3"
            scenes="golemplains2,golemplains"
            boss="false"
            volume="0.85"
            loop="true"
        />
		<song
            name="S1_03_DistantRoost.mp3"
            scenes="blackbeach,blackbeach2"
            boss="false"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S1_04_DistantRoostLoop.mp3"
            scenes="blackbeach2,blackbeach"
            boss="false"
            volume="0.85" 
            loop="true"
        />
		<song
            name="S1_06_SiphonedForest.mp3"
            scenes="snowyforest"
            boss="false"
            volume="0.85" 
            loop="false"
        />		
		<song
            name="S1_06_SiphonedForestLoop.mp3"
            scenes="snowyforest"
            boss="false"
            volume="0.85" 
            loop="true"
        />		
		<song
            name="S1_07_ShatteredAbodes.mp3"
            scenes="village"
            boss="false"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S1_07_ShatteredAbodesLoop.mp3"
            scenes="village"
            boss="false"
            volume="0.85" 
            loop="true"
        />		
		<song
            name="S1_08_DisturbedImpact.mp3"
            scenes="villagenight"
            boss="false"
            volume="0.85" 
        />
		<song
            name="S1_09_VerdantFalls.mp3"
            scenes="lakes"
            boss="false"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S1_09_VerdantFallsLoop.mp3"
            scenes="lakes"
            boss="false"
            volume="0.85" 
            loop="true"
        />
		<song
            name="S1_10_ViscousFalls.mp3"
            scenes="lakesnight"
            boss="false"
            volume="0.85" 
            loop="true"
        />
<!-- Stage 1 Boss Music -->
        <song
            name="S1B_01_TitanicPlains.mp3"
            scenes="golemplains,golemplains2"
            boss="true"
            volume="0.85"
            loop="false"
        />	
		<song
            name="S1B_03_DistantRoost.mp3"
            scenes="blackbeach,blackbeach2"
            boss="true"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S1B_06_SiphonedForest.mp3"
            scenes="snowyforest"
            boss="true"
            volume="0.85" 
            loop="false"
        />		
		<song
            name="S1B_07_ShatteredAbodes.mp3"
            scenes="village"
            boss="true"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S1B_08_DisturbedImpact.mp3"
            scenes="villagenight"
            boss="true"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S1B_09_VerdantFalls.mp3"
            scenes="lakes"
            boss="true"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S1B_10_ViscousFalls.mp3"
            scenes="lakesnight"
            boss="true"
            volume="0.85" 
            loop="false"
        />
<!-- Stage 2 Music -->
        <song
            name="S2_01_AbandonedAqueduct.mp3"
            scenes="goolake"
            boss="false"
            volume="0.85" 
            loop="false"
        />	
        <song
            name="S2_01_AbandonedAqueductLoop.mp3"
            scenes="goolake"
            boss="false"
            volume="0.85" 
            loop="true"
        />	
		<song
            name="S2_02_WetlandAspect.mp3"
            scenes="foggyswamp"
            boss="false"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S2_02_WetlandAspectLoop.mp3"
            scenes="foggyswamp"
            boss="false"
            volume="0.85" 
            loop="true"
        />
		<song
            name="S2_03_AphelianSanctuary.mp3"
            scenes="ancientloft"
            boss="false"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S2_03_AphelianSanctuaryLoop.mp3"
            scenes="ancientloft"
            boss="false"
            volume="0.85" 
            loop="true"
        />
		<song
            name="S2_04_ReformedAltar.mp3"
            scenes="lemuriantemple"
            boss="false"
            volume="0.85" 
            loop="false"
        />  
		<song
            name="S2_04_ReformedAltarLoop.mp3"
            scenes="lemuriantemple"
            boss="false"
            volume="0.85" 
            loop="true"
        />      
		<song
            name="S2_05_PretendersPrecipice.mp3"
            scenes="nest"
            boss="false"
            volume="0.85" 
            loop="false"
        />	
		<song
            name="S2_05_PretendersPrecipiceLoop.mp3"
            scenes="nest"
            boss="false"
            volume="0.85" 
            loop="true"
        />			
<!-- Stage 2 Boss Music -->
        <song
            name="S2B_01_AbandonedAqueduct.mp3"
            scenes="goolake"
            boss="True"
            volume="0.85" 
            loop="false"
        />	
		<song
            name="S2B_02_WetlandAspect.mp3"
            scenes="foggyswamp"
            boss="True"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S2B_03_AphelianSanctuary.mp3"
            scenes="ancientloft"
            boss="True"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S2B_04_ReformedAltar.mp3"
            scenes="lemuriantemple"
            boss="True"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S2B_05_PretendersPrecipice.mp3"
            scenes="nest"
            boss="True"
            volume="0.85" 
            loop="false"
        />
<!-- Stage 3 Music -->
        <song
            name="S3_01_RallypointDelta.mp3"
            scenes="frozenwall"
            boss="false"
            volume="0.85" 
            loop="false"
        />	
        <song
            name="S3_01_RallypointDeltaLoop.mp3"
            scenes="frozenwall"
            boss="false"
            volume="0.85" 
            loop="true"
        />	
		<song
            name="S3_02_ScorchedAcres.mp3"
            scenes="wispgraveyard"
            boss="false"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S3_02_ScorchedAcresLoop.mp3"
            scenes="wispgraveyard"
            boss="false"
            volume="0.85" 
            loop="true"
        />
		<song
            name="S3_03_SulfurPools.mp3"
            scenes="sulfurpools"
            boss="false"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S3_03_SulfurPoolsLoop.mp3"
            scenes="sulfurpools"
            boss="false"
            volume="0.85" 
            loop="true"
        />
		<song
            name="S3_04_IronAlluvium.mp3"
            scenes="ironalluvium"
            boss="false"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S3_04_IronAlluviumLoop.mp3"
            scenes="ironalluvium"
            boss="false"
            volume="0.85" 
            loop="true"
        />
		<song
            name="S3_05_IronAuroras.mp3"
            scenes="ironalluvium2"
            boss="false"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S3_05_IronAurorasLoop.mp3"
            scenes="ironalluvium2"
            boss="false"
            volume="0.85" 
            loop="true"
        />
		<song
            name="S3_06_TreebornColony.mp3"
            scenes="habitat"
            boss="false"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S3_06_TreebornColonyLoop.mp3"
            scenes="habitat"
            boss="false"
            volume="0.85" 
            loop="true"
        />
		<song
            name="S3_07_GoldenDieback.mp3"
            scenes="habitatfall"
            boss="false"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S3_07_GoldenDiebackLoop.mp3"
            scenes="habitatfall"
            boss="false"
            volume="0.85" 
            loop="true"
        />						
<!-- Stage 3 Boss Music -->
        <song
            name="S3B_01_RallypointDelta.mp3"
            scenes="frozenwall"
            boss="true"
            volume="0.85" 
            loop="false"
        />	
		<song
            name="S3B_02_ScorchedAcres.mp3"
            scenes="wispgraveyard"
            boss="true"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S3B_03_SulfurPools.mp3"
            scenes="sulfurpools"
            boss="true"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S3B_04_IronAlluvium.mp3"
            scenes="ironalluvium"
            boss="true"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S3B_05_IronAuroras.mp3"
            scenes="ironalluvium2"
            boss="true"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S3B_06_TreebornColony.mp3"
            scenes="habitat"
            boss="true"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S3B_07_GoldenDieback.mp3"
            scenes="habitatfall"
            boss="true"
            volume="0.85" 
            loop="false"
        />	
<!-- Stage 4 Music -->
        <song
            name="S4_01_AbyssalDepths.mp3"
            scenes="dampcavesimple"
            boss="false"
            volume="0.85" 
            loop="false"
        />	
        <song
            name="S4_01_AbyssalDepthsLoop.mp3"
            scenes="dampcavesimple"
            boss="false"
            volume="0.85" 
            loop="true"
        />	
		<song
            name="S4_02_SirensCall.mp3"
            scenes="shipgraveyard"
            boss="false"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S4_02_SirensCallLoop.mp3"
            scenes="shipgraveyard"
            boss="false"
            volume="0.85" 
            loop="true"
        />
		<song
            name="S4_03_SunderedGrove.mp3"
            scenes="rootjungle"
            boss="false"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S4_03_SunderedGroveLoop.mp3"
            scenes="rootjungle"
            boss="false"
            volume="0.85" 
            loop="true"
        />
		<song
            name="S4_04_RepurposedCrater.mp3"
            scenes="repurposedcrater"
            boss="false"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S4_04_RepurposedCraterLoop.mp3"
            scenes="repurposedcrater"
            boss="false"
            volume="0.85" 
            loop="true"
        />
		<song
            name="S4_05_ConduitCanyon.mp3"
            scenes="conduitcanyon"
            boss="false"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S4_05_ConduitCanyonLoop.mp3"
            scenes="conduitcanyon"
            boss="false"
            volume="0.85" 
            loop="true"
        />
<!-- Stage 4 Boss Music -->
        <song
            name="S4B_01_AbyssalDepths.mp3"
            scenes="dampcavesimple"
            boss="True"
            volume="0.85" 
            loop="false"
        />	
		<song
            name="S4B_02_SirensCall.mp3"
            scenes="shipgraveyard"
            boss="True"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S4B_03_SunderedGrove.mp3"
            scenes="rootjungle"
            boss="True"
            volume="0.85"
            loop="false" 
        />
		<song
            name="S4B_04_RepurposedCrater.mp3"
            scenes="repurposedcrater"
            boss="True"
            volume="0.85" 
            loop="false"
        />
		<song
            name="S4B_05_ConduitCanyon.mp3"
            scenes="conduitcanyon"
            boss="True"
            volume="0.85"
            loop="false" 
        />
<!-- Stage 5 Music -->		
		<song
            name="S5_01_SkyMeadow.mp3"
            scenes="skymeadow"
            boss="False"
            volume="0.90" 
            loop="false"
        />
		<song
            name="S5_01_SkyMeadowLoop.mp3"
            scenes="skymeadow"
            boss="False"
            volume="0.90" 
            loop="true"
        />
		<song
            name="S5_02_HelminthHatchery.mp3"
            scenes="helminthroost"
            boss="False"
            volume="0.90" 
            loop="false"
        />
		<song
            name="S5_02_HelminthHatcheryLoop.mp3"
            scenes="helminthroost"
            boss="False"
            volume="0.90" 
            loop="true"
        />
<!-- Stage 5 Boss Music -->
		<song
            name="S5B_01_SkyMeadow.mp3"
            scenes="skymeadow"
            boss="True"
            volume="0.90" 
            loop="false"
        />
		<song
            name="S5B_02_HelminthHatchery.mp3"
            scenes="helminthroost"
            boss="True"
            volume="0.90" 
            loop="false"
        />
<!-- Stage Endgame Music -->
		<song
            name="SE_01_Commencement.mp3"
            scenes="moon2,moon"
            boss="False"
            volume="0.85" 
            loop="true"
        />
		<song
            name="SE_02_SolutionalHaunt.mp3"
            scenes="solutionalhaunt"
            boss="False"
            volume="0.85" 
            loop="true"
        />
		<song
            name="SE_03_ComputationalExchage.mp3"
            scenes="computationalexchange"
            boss="False"    
            volume="0.85" 
            loop="true"
        />
<!-- Stage Endgame Boss Music -->
		<song
            name="SEB_01_Commencement.mp3"
            scenes="moon2,moon"
            boss="True"
            volume="0.90" 
            loop="false"
        />
		<song
            name="SEB_01_CommencementLoop.mp3"
            scenes="moon2,moon"
            boss="True"
            volume="0.90" 
            loop="true"
        />
		<song
            name="SEB_01_CommencementEscape.mp3"
            scenes="moon2,moon"
            boss="false"
            afterboss="true"
            volume="0.90" 
            loop="false"
        />
		<song
            name="SEB_02_SolutionalHaunt.mp3"
            scenes="solutionalhaunt"
            boss="True"
            volume="0.85" 
            loop="false"
        />
		<song
            name="SEB_02_SolutionalHauntLoop.mp3"
            scenes="solutionalhaunt"
            boss="True"
            volume="0.85" 
            loop="true"
        />
<!-- Stage Final Music -->
		<song
            name="SF_01_Planetarium.mp3"
            scenes="voidraid"
            boss="False"
            volume="0.85" 
            loop="false"
        />
		<song
            name="SF_02_PrimeMeridian.mp3"
            scenes="meridian"
            boss="False"
            volume="0.85" 
            loop="false"
        />
		<song
            name="SF_02_PrimeMeridianLoop.mp3"
            scenes="meridian"
            boss="False"
            volume="0.85" 
            loop="true"
        />
		<song
            name="SF_03_NeuralSanctum.mp3"
            scenes="solusweb"
            boss="False"
            volume="0.85" 
            loop="true"
        />
<!-- Stage Final Boss Music -->
		<song
            name="SFB_01_Planetarium.mp3"
            scenes="voidraid"
            boss="True"
            volume="0.70" 
            loop="false"
        />
		<song
            name="SFB_01_PlanetariumLoop.mp3"
            scenes="voidraid"
            boss="True"
            volume="0.70" 
            loop="true"
        />
		<song
            name="SFB_02_PrimeMeridian.mp3"
            scenes="meridian"
            boss="True"
            volume="0.90" 
            loop="false"
        />
		<song
            name="SFB_02_PrimeMeridianLoop.mp3"
            scenes="meridian"
            boss="True"
            volume="0.90" 
            loop="true"
        />
		<song
            name="SFB_03_NeuralSanctum.mp3"
            scenes="solusweb"
            boss="True"
            volume="0.85" 
            loop="false"
        />
		<song
            name="SFB_03_NeuralSanctumLoop.mp3"
            scenes="solusweb"
            boss="True"
            volume="0.85" 
            loop="true"
        />
<!-- Hidden Realms Music -->
		<song
            name="SHR_01_Bazaar.mp3"
            scenes="bazaar"
            boss="False"
            volume="0.85" 
            loop="true"
        />
		<song
            name="SHR_02_MFractured.mp3"
            scenes="mysteryspace"
            boss="False"
            volume="0.85" 
            loop="true"
        />
		<song
            name="SHR_03_MWhole.mp3"
            scenes="limbo"
            boss="False"
            volume="0.85" 
            loop="false"
        />
		<song
            name="SHR_03_MWholeLoop.mp3"
            scenes="limbo"
            boss="False"
            volume="0.85" 
            loop="true"
        />
		<song
            name="SHR_04_GildedCoast.mp3"
            scenes="goldshores"
            boss="False"
            volume="0.85" 
            loop="false"
        />
		<song
            name="SHR_04_GildedCoastLoop.mp3"
            scenes="goldshores"
            boss="False"
            volume="0.85" 
            loop="true"
        />
		<song
            name="SHR_05_Bulwarks1.mp3"
            scenes="artifactworld"
            boss="False"
            volume="0.85" 
            loop="true"
        />
		<song
            name="SHR_06_Bulwarks2.mp3"
            scenes="artifactworld01"
            boss="False"
            volume="0.85" 
            loop="true"
        />
		<song
            name="SHR_07_Bulwarks3.mp3"
            scenes="artifactworld02"
            boss="False"
            volume="0.85" 
            loop="true"
        />
		<song
            name="SHR_08_Bulwarks4.mp3"
            scenes="artifactworld03"
            boss="False"
            volume="0.85" 
            loop="true"
        />
<!-- Void Route Music -->
		<song
            name="SHR_09_VoidFields.mp3"
            scenes="arena"
            boss="False"
            volume="0.85" 
            loop="false"
        />
		<song
            name="SHR_09_VoidFieldsLoop.mp3"
            scenes="arena"
            boss="False"
            volume="0.85" 
            loop="true"
        />
		<song
            name="SHR_10_VoidLocus.mp3"
            scenes="voidstage"
            boss="False"
            volume="0.85" 
            loop="false"
        />
		<song
            name="SHR_10_VoidLocusLoop.mp3"
            scenes="voidstage"
            boss="False"
            volume="0.85" 
            loop="true"
        />
    </music>
</settings>
